<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first">
    Multiply this:
  </label>
  <input id="first" name="first_num" text="text">

  <label for="second">
    by this:
  </label>
  <input id="second" name="second_num" text="text">

  <button>
    Multiply!
  </button>
</form>
